/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3;
}

a{
    display: block; 
    text-decoration: none;
    color: #95e1d3;
}

ul,ol{
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */

.header {
    position: absolute;
    width: 100%;
    padding: 12px 0 10px 0;
}


.logo {
    display: block;
    font-size: 30px;
    font-family: "Montserrat";
    color: #fff;
    font-weight: 700;
}


.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.main-nav__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
    min-width: 500px;
}

.menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    font-family: "Montserrat";
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
}

.menu-list__item:not(:last-child){
    margin-right: 29px;
}


.menu-list__item-link{
    display: block;
    color: #fff;
    position: relative;
}

.menu-list__item-link:hover, .menu-list__item-link:after {
    color: #fce38a;
}

.menu-list__item-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #fce38a;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
    margin-top: 12px;
    position: absolute;
    bottom: -12px;
}

.menu-list__item-link:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.nav-actions{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0;
    width: 76px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.nav-actions__icon{
    fill: #fff;
}

.nav-actions__icon:hover, .nav-actions__icon:focus{
    fill: #fce38a;
}


/* MAIN */
/* INTRO */


.intro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 100vh;
    background: url(../img/main-bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 0 0 100px 0;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .intro {
      background: url(../img/main-bg@2x.png) no-repeat center;
    }
  }



.intro__content-wrapper{
    width: 60%;
}

.intro__title{
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
}

  
.intro__sub-title{
    font-size: 72px;
    font-family: 'Kaushan Script';
    display: block;
    text-transform: none;
}

.intro__button{
    width: 164px;
    height: 44px;
    border: 3px solid #ffffff;
    background-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__button:hover, .intro__button:focus{
    color: #fce38a;
    border-color: #fce38a;
}

/* SERVICES-SECTION */
.services {
    padding: 84px 0 100px 0;
}

.section-titles {
    text-align: center;
    margin-bottom: 58px;
}


.section-titles::after {
    display: block;
    margin: 26px auto 0 auto;
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 3px;
}


.section-titles__title{
    font-size: 30px;
    font-family: "Montserrat";
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.section-titles__title_span {
    display: block;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    line-height: 1.2;
    margin-bottom: 16px;
    text-transform: none;
}



.services-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.services-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 382px;
    padding-left: 82px;
}

.services-list__title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    line-height: 1.2;
    margin-bottom: 16px;
}

.services-list__content {
    font-size: 15px;
    font-family: "Roboto";
    color: #999999;
    line-height: 1.6;
}

/* SPRITES */

.services-list__item_icon {
    background-repeat: no-repeat;
    background-position: left 20px top;
}

.services-list__item_alarm {
    background-image: url(../img/svg/ALARM.svg);
}

.services-list__item_diagram {
    background-image: url(../img/svg/GRAPH.svg);
}

.services-list__item_comp {
    background-image: url(../img/svg/COMPUTER.svg);
}

.services-list__item_book {
    background-image: url(../img/svg/BOOK.svg);
}

.services-list__item_home {
    background-image: url(../img/svg/HOME.svg);
}

.services-list__item_digital {
    background-image: url(../img/svg/IMAGE.svg);
}

/* TEAM SECTION */

.section-titles__text {
    width: 75%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    font-family: "Roboto";
    color: #999999;
    line-height: 1.6;
    text-align: center;
}
  
/* TEAM CARDS */

.team-list {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.team-list__card{
    width: 380px;
}

.team-list__card-item {
    background-color: #95e1d3;
    color: black;
}


.team-list__card-item-img img {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    height:470px; 
    width:380px;
}

.team-list__card-item-img {
    position: relative;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear;
}

.team-list__card-item-img::before {
    position: absolute;
    content: "";
    background-image: -webkit-gradient(linear, left top, right top, from(#fce38a), to(rgb(243, 129, 129)));
    background-image: -o-linear-gradient(left, #fce38a 0%, rgb(243, 129, 129) 100%);
    background-image: linear-gradient(90deg, #fce38a 0%, rgb(243, 129, 129) 100%);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.team-list__card-item-img:hover::before{
    opacity: 0.72;
}


.team-list__card-item-img:hover {
    -webkit-transform: translate(-10px, -10px);
        -ms-transform: translate(-10px, -10px);
            transform: translate(-10px, -10px);
}

/* SOCIALS */

.socials {
    padding: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.socials li:not(:last-child){
    margin-right: 1px;
}

.team-list__card-item-img:hover .socials{
    opacity: 1;
}


.socials-item{
    display: block;
}

.socials__item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0;
    background-position: center;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    background-color: #fce38a;
}

.socials__item:hover{
    background-color: #f38181;
}
.social-icon{
    fill:#f38181;
}

.socials__item:hover .social-icon{
    fill: #fff;
}

/* 
.social__item_facebook{
    background-image: url(../img/facebook.png);
} */

.facebook{
    background-image: url(../img/facebook.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.pinterest{
    background-image: url(../img/pinterest.png);
}

.instagram{
    background-image: url(../img/instagram.png);
}

/* TEAM INFO */

.team-list__card-info{
    padding: 27px 0;
}

.team-list__card-name{
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    text-transform: uppercase;
    text-align: center;
}

.team-list__card-profession{
    font-size: 15px;
    font-family: "Roboto";
    color: #999999;
    font-style: italic;
    line-height: 1.6;
    text-align: center;
}

/* FOOTER */
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    border-top: 1px solid #e5e5e5;
    padding: 12px 0;
}

/* .footer-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 100%;
} */

.footer__credit {
    font-size: 14px;
    font-family: "Montserrat";
    color: #333333;
    line-height: 1.2;
  }

  .footer__credit-link{
      display: inline-block;
      color: #f38181;
  }
/* FORM */
  .my-form{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  

 .my-form-input{
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: block;
      border: 1px solid #e7e7e7;
      border-right: 0;
      width: 234px;
      height: 40px;
      padding-left: 12px;
      font-size: 15px;
      font-family: "Roboto";
      color: #333333;
      font-style: italic;
      line-height: 1.6;
      outline: none;
  }



 .my-form-submit{
      display: block;
      border: none;
      background-color: #95e1d3;
      color: #ffffff;
      width: 150px;
      height: 40px;
      font-size: 14px;
      font-family: "Montserrat";
      color: #ffffff;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 1.2;
      text-align: center;
  }

/* MEDIA QUERIES */

@media (min-width: 1140px) {
    .team-list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }


}


@media (min-width: 1146px) {
    .services-list__item:not(:nth-last-child(-n+3)) {
        margin-bottom: 92px;
    }
}